.boxs {
  margin-top: 88px;
  margin-bottom: 80px;
  .boxs__controls {
    .boxs__info {
      & h3 {
        color: #505050;
        text-align: center;
        font-family: "Work Sans" sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 48px */
        &::before {
          content: "";
          display: flex;
          margin: auto;
          width: 80px;
          height: 5px;
          background-color: #ab0433;
          @include tablet() {
            width: 120px;
          }
        }
      }
    }
    .boxs__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      margin-top: 25px;
      @include tablet() {
        flex-wrap: wrap;
      }
      .boxs__list-item {
        max-width: 400px;
        border-radius: 0px 0px 10px 10px;
        background: var(--True-White, #fff);

        & img {
          max-width: 400px;
          border-radius: 10px 10px 0px 0px;
          background: radial-gradient(138.81% 138.29% at 1.22% 1.08%, #fbfbfb 0%, #d3d3d3 100%);
        }
        .boxs__texts {
          display: flex;
          padding: 16px 24px 24px 24px;
          justify-content: space-between;
          gap: 6px;
          border-radius: 0px 0px 10px 10px;
          background: var(--True-White, #fff);
          box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(28, 5, 77, 0.1);
          .inner__info {
            display: flex;
            flex-direction: column;

            .guiter_num {
              text-align: center;
              padding: 2px 6px;
              border: 1px solid #000;
              border-radius: 20px;

              span {
                font-weight: 700;
                margin-right: 6px;
              }
            }
          }
        }
        & p {
          margin-bottom: 15px;
          align-self: stretch;
          color: var(--767676, #767676);
          font-family: "Work Sans" sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 20.8px */
        }
        .boxs__border {
          padding: 2px 6px;
          gap: 10px;

          border-radius: 20px;
          border: 1px solid var(--eaeaea, #eaeaea);
          & h5 {
            font-family: "Montserrat" sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            & span {
              color: #505050;
              text-align: right;
              font-family: "Montserrat" sans-serif;
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 18px */
            }
          }
        }
      }
    }
  }
}
